.file__upload__wrapper {
	width: 100%;
	margin: 10px auto;
	
	img {
		max-width: 100%;
		max-height: 200px;
	}

	button {
		float: left;
	}
	.drop-box {
		margin-left: 20px;
		float: left;
		padding: 5px 20px;
		border: 1px dashed #808080;
	}
}