.container-login {
    padding-top: 10px;

    .login-container {
        position: relative;
        width: 300px;
        margin: 0px auto;
        margin-bottom: 80px;
        padding: 20px 40px 40px;
        text-align: center;
        background: #fff;
        border: 1px solid #ccc;
        
        &::before,
        &::after {
            content:"";
            position: absolute;
            width: 100%;
            height: 100%;
            top: 3.5px;
            left: 0;
            background: #fff;
            z-index: -1;
            -webkit-transform: rotateZ(4deg);
            -moz-transform: rotateZ(4deg);
            -ms-transform: rotateZ(4deg);
            border: 1px solid #ccc;
        }
        
        &::after {
            top: 5px;
            z-index: -2;
            -webkit-transform: rotateZ(-2deg);
            -moz-transform: rotateZ(-2deg);
            -ms-transform: rotateZ(-2deg);
        }

        #output {
            position: absolute;
            width: 300px;
            top: -75px;
            left: 0;
            color: #fff;
            
            &.alert-success {
                background: $dark-green;
            }
            
            &.alert-danger {
                background: $red;
            }
        }

        .avatar {
            width: 100px;
            height: 100px;
            margin: 10px auto 30px;
            border-radius: 100%;
            border: 2px solid #aaa;
            overflow: hidden;
            
            img {
                width: 50px;
                height: 50px;
                margin-top: 20px;
            }
        }
        
        .form-box {

            input {
                width: 100%;
                padding: 10px;
                text-align: center;
                height:40px;
                border: 1px solid #ccc;
                background: #fafafa;
                transition:0.2s ease-in-out;
                
                &:focus {
                    outline: 0;
                    background: #eee;
                }
            }
            
            input[type="text"] {
               border-radius: 5px 5px 0 0;
               text-transform: lowercase;
            }
            
            input[type="password"] {
                border-radius: 0 0 5px 5px;
                border-top: 0;
            }
            
            button.login {
                margin-top:15px;
                padding: 10px 20px;
            }
        }
    }
}