doctype html
//- (infinite-scroll="myPagingFunction()", infinite-scroll-distance="1")
div(data-ng-controller="AdminCtrl")
	div.admin-bg(data-ng-if="$root.user.islogged") 
		a.btn.btn-primary.adminbtn(data-ui-sref='newArticle', role="button") Ajouter un article
		a.btn.btn-primary.adminbtn(role="button", ng-click="disconnect()") Déconnexion
.col-lg-6
	input(type="text", class="post__search awesomplete", placeholder="Search an article", list="postsTitles")
	datalist(id="postsTitles")
		option(data-ng-repeat="post in posts") {{post.title}}
	article(data-ng-repeat="post in posts")
		.post
			.postimage.col-centered(data-ng-class="post.category.color + 'shadow'")
				img(src="{{post.image.path}}",alt="{{post.image.name}}",width="400")
			.cat-container
				span.category(data-ng-class="post.category.color+'category'") {{post.category.name}}
			h2.title
				a(data-ui-sref='categories.article({articleId: post.id})') {{post.title}}
			p.preview(data-ng-bind-html="post.text")
			p.date Écrit le {{post.creationDate}}
		.seperate