doctype html
.row-fluid
	.col-md-2.col-md-offset-5.page-title
		h2 À Propos
.row-fluid
	.col-md-4.col-md-offset-4.col-centered
		img.author-img(src="images/alexlogo.svg" alt="Alex" width="170")
.row-fluid
	.col-md-6.col-md-offset-3
		p.article-full Développeur front-end, encore étudiant en deuxième année de master, amoureux des nouvelles technologie. Il partage cette passion avec le design interactif et le design d'interface. Pour lui, ce blog c'est avant tout de contribuer au développement du web et de partager son expérience.
.row-fluid
	.col-md-4.col-md-offset-4.col-centered
		img.author-img(src="images/guillaume.jpg" alt="Guillaume" width="170")
.row-fluid
	.col-md-6.col-md-offset-3
		p.article-full Développeur back-end, en fin d'étude à Epitech, très curieux, n'hésite pas à tester les nouvelles technologies. Pour lui, Numéractive, c'est un bon moyen de mettre en pratique ses connaissances en contribuant à un projet ouvert et moderne.