doctype html
.row-fluid
	.col-md-2.col-md-offset-5.page-title
		h2 À Propos
.row-fluid
	.col-md-4.col-md-offset-4.col-centered
		img.author-logo(src="images/alexlogo.svg" alt="logo author" width="170")
.row-fluid
	.col-md-6.col-md-offset-3
		p.article-full Développeur front-end, encore étudiant en deuxième année de master, je suis un amoureux des nouvelles technologie. Je partage cette passion avec le design interactif et le design d'interface. Ce blog c'est avant tout de contribuer au développement du web et de partager mon expérience.