doctype html
html(lang='fr')
	head
		title Numeractive

		//- Css dependency files
		link(rel='stylesheet', href='bower_components/bootstrap/dist/css/bootstrap.min.css')
		link(rel="stylesheet", href="bower_components/angular-motion/dist/angular-motion.min.css")
		link(rel='stylesheet', href='http://fonts.googleapis.com/css?family=Lato:100,300,400,700,900')
		link(rel='stylesheet', href='dist/style.css')


		script(data-main="app-config" src="bower_components/requirejs/require.js")

	body
		.loading-container
			.loading-wrapper
				.loader Loading ...
		.container-full
			.backabstract
			header(data-ng-controller="HeaderCtrl")
				slider(data-images="images",class="clearfix")
				.containbg
					.row
						.col-lg-12.col-centered
							a(data-ui-sref='home')
								img(src="images/logo.svg", id="logo",alt="logo numeractive")
					.row
						.col-lg-12.col-centered
							a(data-ui-sref='home')
								h1.global-title numeractive
					.row.mg-top
						.col-lg-3
							span.contactlink
								a(data-ui-sref='contact',alt="contact link") contact
			section.main.row
				.col-lg-2(data-ui-view="sidemenu", class="sidemenu")
				.col-lg-10(data-ui-view="main", class="main")
			section.footer.row
				.col-lg-12(data-ui-view="footer", class="footer")