a.btn.btn-primary(data-ui-sref='categories.home', role="button") Accueil
form(role="form", class="add-article")
    h2 Ajouter un nouvel article au super blog
    br
    div(class="file__upload__wrapper clearfix")
        button(type="button" id="file__upload" class="btn btn-primary button" ng-file-select ng-model="files") Upload Image
        div(ng-file-drop ng-model="files" class="drop-box" drag-over-class="dragover" 
            ng-multiple="true" allow-dir="true" accept=".jpg,.png,.pdf") Drop Images here

    div(class="form-group")
        label(for="titre") Titre de l'article
        input(type="text", class="form-control", id="titre",data-ng-model="title", placeholder="Titre")
    div(class="form-group")
        label(for="categories") Entrer la catégorie de l'article
        select(class="form-control", data-ng-model="categorySelected" id="categories")
          option(data-ng-repeat="category in categories", data-category-id="{{category.id}}") {{category.type}}
    div(class="form-group")
        label(for="contenu") Contenu de l'article (format html supporté)
        textarea(class="form-control", rows="6", id="contenu", data-ng-model="text")
    button(type="button", class="btn btn-primary btn-lg", data-ng-click="submit()") Valider