.backabstract {
    position: absolute;
    left:0;
    right:0;
    width: 100%;
    height: 2000px;
    z-index: 10;
    background-color: #000;
    opacity: 0.8;
    display: none;
}

.mg-top {
    margin-top: 80px;
}

.col-centered {
    float: none;
    margin: 0 auto;
    text-align: center;
}