
/****************
    general
****************/
 html, p, h1, h2, li, a {
    font-family:'Lato', sans-serif;
    font-weight: 400;
}
.fullslider {
    background: url(../images/slider/bg1.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.fullslider {
    position: relative;
    height: 100%;
}
.col-centered {
    float: none;
    margin: 0 auto;
    text-align: center;
}
.mg-top {
    margin-top: 80px;
}
/****************
    header
****************/

/* slider */
 .slider {
    position: absolute;
    width:100%;
    height: 400px;
    overflow: hidden;
    margin: auto;
}
.slider-login {
    height: 100% !important;
}
.slide {
    position:absolute;
    top:0;
    left:0;
}
.slide img {
    width: 100%;
}
.slide.ng-hide-add, .slide.ng-hide-remove {
    -webkit-transition:all linear 0.5s;
    -moz-transition:all linear 0.5s;
    -o-transition:all linear 0.5s;
    transition:all linear 0.5s;
    display:block!important;
}
.slide.ng-hide-add.ng-hide-add-active, .slide.ng-hide-remove {
    opacity:0;
}
.slide.ng-hide-add, .slide.ng-hide-remove.ng-hide-remove-active {
    opacity:1;
}
.containbg {
    padding: 30px;
    height: 400px;
}
.contactlink {
    padding-left: 45px;
}
.contactlink a {
    color: #fff;
    font-size: 14pt;
}
.containbg #logo {
    margin-top: 64px;
    width: 180px;
}
.global-title{
    font-family:'Lato', sans-serif;
    font-weight: 700;
    font-size: 18pt;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #fff;
}
/****************
    body
****************/
 .container-login {
    padding-top: 10px;
}
.contain-menu {
    margin-top: 70px;
}
.search{
    border: none;
    box-shadow: none;
    background: none;
    outline: none;
    line-height: 40px;
    font-size: 2em;
    text-align: center;
    height: 60px;
    width: 100%;
    margin: 0 auto;
}
.post {
    text-align: left;
    margin: 100px 0;
}
.postimage {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    overflow: hidden;
    display: block;
    margin-bottom: 14px;
}
.post .cat-container{
    text-align: center;
}
.post .cat-container .category {

}
.post h2 {
    font-weight: 800;
    letter-spacing: 1px;
    line-height: 40px;
}
.post p {
    line-height: 26px;
}
.menu li {
    list-style-type: none;
    margin: 10px 0;
}
.menu li a {
    text-decoration: none;
}
article {
    margin: 100px 20px;
}
.seperate {
    width: 200px;
    height: 1px;
    margin: 0 auto;
    background-color: #000;
}
.greencategory{
    color: #27ae60;
}
.bluecategory{
    color: #3498db;
}
.redcategory{
    color: #e74c3c;
}
.yellowcategory{
    color: #dfbe00;
}
.purplecategory{
    color: #a151fb;
}
/* Shadows categories */
 .greenshadow {
    box-shadow: 3px 3px 0px #27ae60;
}
.blueshadow {
    box-shadow: 3px 3px 0px #3498db;
}
.redshadow {
    box-shadow: 3px 3px 0px #e74c3c;
}
.yellowshadow {
    box-shadow: 3px 3px 0px #dfbe00;
}
.purpleshadow {
    box-shadow: 3px 3px 0px #a151fb;
}
/************
    Contact page
************/
.page-title{
    text-align: center;
    margin-top: 40px;
    margin-bottom: 40px;
}
/************
 Login form
************/
 .login-container {
    position: relative;
    width: 300px;
    margin: 0px auto;
    margin-bottom: 80px;
    padding: 20px 40px 40px;
    text-align: center;
    background: #fff;
    border: 1px solid #ccc;
}
#output {
    position: absolute;
    width: 300px;
    top: -75px;
    left: 0;
    color: #fff;
}
#output.alert-success {
    background: rgb(25, 204, 25);
}
#output.alert-danger {
    background: rgb(228, 105, 105);
}
.login-container::before, .login-container::after {
    content:"";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 3.5px;
    left: 0;
    background: #fff;
    z-index: -1;
    -webkit-transform: rotateZ(4deg);
    -moz-transform: rotateZ(4deg);
    -ms-transform: rotateZ(4deg);
    border: 1px solid #ccc;
}
.login-container::after {
    top: 5px;
    z-index: -2;
    -webkit-transform: rotateZ(-2deg);
    -moz-transform: rotateZ(-2deg);
    -ms-transform: rotateZ(-2deg);
}
.avatar {
    width: 100px;
    height: 100px;
    margin: 10px auto 30px;
    border-radius: 100%;
    border: 2px solid #aaa;
    overflow: hidden;
}
.avatar img {
    width: 50px;
    height: 50px;
    margin-top: 20px;
}
.form-box input {
    width: 100%;
    padding: 10px;
    text-align: center;
    height:40px;
    border: 1px solid #ccc;
    background: #fafafa;
    transition:0.2s ease-in-out;
}
.form-box input:focus {
    outline: 0;
    background: #eee;
}
.form-box input[type="text"] {
    border-radius: 5px 5px 0 0;
    text-transform: lowercase;
}
.form-box input[type="password"] {
    border-radius: 0 0 5px 5px;
    border-top: 0;
}
.form-box button.login {
    margin-top:15px;
    padding: 10px 20px;
}
/********************************
        Contact page
*********************************/

.author-logo{
    margin: 60px auto;
}

/********************************
        content article
*********************************/
.backlink{
    font-size: 14px;
}
 .backabstract {
    position: absolute;
    left:0;
    right:0;
    width: 100%;
    height: 2000px;
    z-index: 10;
    background-color: #000;
    opacity: 0.8;
    display: none;
    /* Comment to look full post */
}
.content-article {
    position: absolute;
    width: 1024px;
    left:0;
    right:0;
    margin: 40px auto;
    padding: 20px;
    z-index: 12;
    background-color: #fff;
    text-align: center;
    display: none;
    /* Comment to look full post */
}
.content-article img {
    margin: 0 auto;
}
.article-full p.lead{
    font-weight: 400;
}
.article-full,
.article-full p,
.article-full span{
    font-size: 17px;
    line-height: 26px;
    letter-spacing: 0.8px;
    color: #585858;
    font-weight: 300;
}
/********************************/
 .animated {
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}
@-webkit-keyframes fadeInUp {
    0% {
        opacity: 0;
        -webkit-transform: translateY(20px);
        transform: translateY(20px);
    }
    100% {
        opacity: 1;
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
}
@keyframes fadeInUp {
    0% {
        opacity: 0;
        -webkit-transform: translateY(20px);
        -ms-transform: translateY(20px);
        transform: translateY(20px);
    }
    100% {
        opacity: 1;
        -webkit-transform: translateY(0);
        -ms-transform: translateY(0);
        transform: translateY(0);
    }
}
.fadeInUp {
    -webkit-animation-name: fadeInUp;
    animation-name: fadeInUp;
}
.modal {
    overflow-y: hidden;
}

.articleimage{

}
.articleimage img{
    width: 100%;
}
.article-glob{
    text-align: left;
    margin: 20px 0;
}

/************
Admin css
**************/

.admin-bg{
    background-color: #e8e8e8;
    padding: 20px;
}

.adminbtn{
    margin: 0px 20px;
    cursor: pointer;
    text-align: center;
}

form.add-article{
    width: 640px;
    margin: 40px auto;
}