$light-grey = #eef1f3;
$grey = #8d8e8e;
$dark-grey = #515151;
$middle-black = #282828; 


$light-green = #00ebbe;
$dark-green = #20b79a;

$blue = #27b0ef;
$red = #fc4d35;

html, p, h1, h2, li, a {
    font-family:'Lato', sans-serif;
    font-weight: 400;
}
.greencategory{
    color: #27ae60;
}
.bluecategory{
    color: #3498db;
}
.redcategory{
    color: #e74c3c;
}
.yellowcategory{
    color: #dfbe00;
}
.purplecategory{
    color: #a151fb;
}
/* Shadows categories */
 .greenshadow {
    box-shadow: 3px 3px 0px #27ae60;
}
.blueshadow {
    box-shadow: 3px 3px 0px #3498db;
}
.redshadow {
    box-shadow: 3px 3px 0px #e74c3c;
}
.yellowshadow {
    box-shadow: 3px 3px 0px #dfbe00;
}
.purpleshadow {
    box-shadow: 3px 3px 0px #a151fb;
}


@import 'layout';
@import 'modules/admin/admin';
@import 'modules/article/article';
@import 'modules/category/category';
@import 'modules/contact/contact';
@import 'modules/head/head';
@import 'modules/slider/slider';
@import 'modules/previewarticles/previewarticles';
@import 'modules/login/login';
