<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>test</title>
        <link rel="stylesheet" type="text/css" href="http://yui.yahooapis.com/3.3.0/build/cssreset/reset-min.css">
        <link rel="stylesheet" href="css/style.css">
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.15/angular.min.js"></script>
        <script src="https://code.angularjs.org/1.2.9/angular-animate.min.js"></script>
        <script src="js/main.js"></script>
    </head>
    <body ng-app='app'>
        <div class="slider" ng-controller="SliderController">
          <div class="slide" ng-repeat="image in images" ng-show="image.visible">
            <img ng-src="images/{{image.src}}" />
          </div>
          <div class="arrows">
            <a href="#" ng-click="prev()">
              left
            </a>
            <a href="#" ng-click="next()">
              right
            </a>
          </div>
        </div>
        
    </body>
<!--     <body ng-controller="SliderController">
      <h1>Slider Using AngularJS</h1>
      <slider images="images" />
    </body> -->
</html>
