article {

    margin: 100px 20px;

    .back-button {

        .backlink{
            font-size: 14px;
        }
    }
    
    .article-glob {
      
        text-align: left;
        margin: 20px 0;

        .article-full {

            font-size: 17px;
            line-height: 26px;
            letter-spacing: 0.8px;
            color: #585858;
            font-weight: 300;

            p {
                font-weight: 400;
            }
        }
        
        
        .articleimage {

            img {
                width: 100%;
            }
        }
    }
}