.col-lg-6(infinite-scroll="myPagingFunction()" infinite-scroll-distance="1")
	//- .hello (data-ng-if="user.islogged") data-template="/partials/modalogin"
	a.btn.btn-primary(data-ui-sref='newArticle', role="button") Ajouter un article
	article(data-ng-repeat="post in posts")
		.post
			.postimage.col-centered(data-ng-class="post.colorcat + 'shadow'")
				img(src="{{post.img}}",alt="post image",width="400")
			span.category {{post.category}}
			h2.title {{post.title}}
			p.preview {{post.text}}
			span.date {{post.creationDate}}
		.seperate
