.col-lg-6
	article(data-ng-repeat="post in posts").post
		.postimage.col-centered
			img(src="{{post.img}}",alt="post image")
		span.category{{post.category}}
		h2.title{{post.title}}
		p.preview{{post.text}}
		span.date{{post.creationDate}}