doctype html
html(lang='fr', data-ng-app='numeractive')
	head
		title Numeractive
		link(rel='stylesheet', href='https://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css')
		link(rel="stylesheet", href="https://mgcrea.github.io/angular-strap/styles/bootstrap-additions.min.css")
		link(rel="stylesheet", href="https://mgcrea.github.io/angular-strap/styles/angular-motion.min.css")
		link(rel='stylesheet', href='http://fonts.googleapis.com/css?family=Lato:100,300,400,700,900')
		link(rel='stylesheet', href='css/style.css')
		script(src='https://ajax.googleapis.com/ajax/libs/angularjs/1.2.16/angular.min.js')
		script(src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.16/angular-animate.min.js")
		script(src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.16/angular-sanitize.min.js")
		script(src='https://code.jquery.com/jquery-1.11.1.min.js')
		script(src='third_party/angular-ui-router.min.js')
		script(src='third_party/angular-strap-2.0.2/angular-strap.min.js')
		script(src='third_party/angular-strap-2.0.2/angular-strap.tpl.min.js')
		script(src="third_party/ng-infinite-scroll.min.js")
		script(src="third_party/ckeditor/ckeditor.js")
		script(src='js/app.js')
		script(src='js/directives.js')
		script(src='js/services.js')
	body
		.loading(data-ng-show=('loading')) Chargement ...
		.container-full(data-ng-hide=('loading'))
			.backabstract
			header(data-ng-controller="SliderController")
				slider(data-images="images",class="clearfix")
				.containbg
					.row
						.col-lg-12.col-centered
							a(data-ui-sref='home')
								img(src="images/logo.svg", id="logo",alt="logo numeractive")
					.row
						.col-lg-12.col-centered
							h1 numeractive
					.row.mg-top
						.col-lg-3
							span.contactlink
								a(href="#",alt="contact link") contact
			div(data-ng-controller="adminController")
				div.text-center(data-ng-if="user.islogged")
					a.btn.btn-primary(data-ui-sref='newArticle', role="button") Ajouter un article
			.container-fluid(data-ui-view)