doctype html
html(lang='fr', data-ng-app='numeractive')
	head
		title Numeractive
		link(rel='stylesheet', href='https://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css')
		link(rel='stylesheet', href='http://fonts.googleapis.com/css?family=Lato:100,300,400,700,900')
		link(rel='stylesheet', href='css/style.css')
		script(src='https://code.jquery.com/jquery-1.11.0.min.js')
		script(src='https://ajax.googleapis.com/ajax/libs/angularjs/1.2.16/angular.min.js')
		script(src='third_party/angular-ui-router.min.js')
		script(src='third_party/angular-strap-2.0.1/angular-strap.min.js')
		script(src='third_party/angular-strap-2.0.1/angular-strap.tpl.min.js')
		script(src='js/app.js')
	body
		.container-full
			.jumbotron#background
				.row
					.col-lg-12.col-centered
						img(src="images/logo.svg",alt="logo numeractive",width="180")
				.row
					.col-lg-12.col-centered
						h1 numeractive
			.container-fluid
				.col-lg-3(data-ng-controller="categoriesMenu")
					ul(role="menu")
						li(role="presentation")
							a(data-ui-sref='home') Accueil
						li(data-ng-repeat="(i, category) in categories track by $index",role="presentation")
							a(data-ui-sref='category({categoryId: i})') {{category.type}}
			main(data-ui-view)