.container-login(data-ng-controller="loginController")
	.login-container
		#output
		.avatar
			img(src="images/admin/users.svg", alt="admin picture")
		.form-box
			form(data-ng-submit="login()")
				input(name="user", type="text", data-ng-model="user", placeholder="username")
				input(name="password", type="password", data-ng-model="password", placeholder="password")
				button.btn.btn-info.btn-block.log(type="submit" data-ng-disabled="connecting") login