a.btn.btn-primary(data-ui-sref='categories.home', role="button") Accueil
//- form(role="form")
//- 	div(class="form-group")
//-     	label(for="exampleInputEmail1") Titre de l'article
//-     	input(type="text", class="form-control", placeholder="Enter email")